@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@font-face {
  font-family: 'JosefinSans-Bold';
  src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf') format('truetype'), /* Modern Browsers */
       url('../fonts/Josefin_Sans/JosefinSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

*{
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Josefin Sans' , sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:hover,a:focus{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'JosefinSans-Bold', sans-serif;
    padding: 0;
    margin-bottom: 20px;
}
p{
    padding: 0;
    margin-bottom: 15px;
    font-size: 16px;
}
img{
    padding: 0;
    margin: 0;
    width: 100%;
}
/*--Top--*/
.top-nav{
    background-color: #bf1e2e;
    padding: 5px 0;
}
.location li{
    float: left;
    font-size: 16px;
    margin-left: 1em;
    color: #fde30d;
}
.location{
    float: right;
}
.top-nav:after{
    content: '';
    display: block;
    clear: both;
}

/*--Navbar--*/
.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
    width: 100%;
}
.bannertext{
    font-family: 'JosefinSans-Bold', sans-serif;
    position: absolute;
    padding: 150px 350px;
    font-size: 50px;
    height: 450px;
    width: 100%;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    font-weight: bold;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    padding: 1em 0;
}
.navbar-inverse{
    background-color: rgba(0, 0, 0, 0.76);
    border: none;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.navbar-brand img{
    width: 175px;
}
.navbar-inverse .navbar-nav li >a{
    font-family: 'JosefinSans-Bold',sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    padding: 1em 0;
    margin-left: 2em;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #fde30d;  
}
.navbar-inverse .navbar-nav li >a:hover{
    color: #fde30d;
}


/*---Main Section------*/
.main{
    padding: 3em 0;
}
.main h4, .welcome-section h4{
    color: #bf1e2e;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.product{
    border: 1px solid #ddd;
    margin-bottom: 3em;
}
.product-item li{
    width: 33.33%;
    float: left;
}
.product-item li:nth-child(1){
    padding-right: 3em;
}
.product-item li:nth-child(3){
    padding-left: 3em;
}
.product-item li:nth-child(2){
    padding-right: 0;
    padding: 0 1.5em;
}
.product-item:after{
    display: block;
    content: '';
    clear: both;
}
.product-description{
    padding: 1em 1em 2em 1em;
}
.product-description h5{
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.product-description p{
    color: #999;
    font-size: 16px;
    margin-bottom: 1.5em;
}
.product-description .price{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    float: left;
}
.product-description .button{
    float: right;
}
.product-description:after{
    content: '';
    display: block;
    clear: both;
}
.button{
    font-family: 'JosefinSans-Bold', sans-serif;
    padding: 8px 2em;
    color: #fde30d;
    display: inline-block;
    background-color: #bf1e2e;
    transition: 0.5s all ease-out;
}
.button:hover, .button:focus{
    background-color: #000;
    transition: 0.5s all ease-in;
    color: #fde30d;
}




/*--Welcome Section---*/
.welcome-section{
    padding: 3em 0;
    color: #333;
    background-color: #eee;
}
.welcome-section h4{
    color: #bf1e2e;
    margin-bottom: 30px;
}
.welcome-section p{
    font-size: 16px;
}



/*----Footer-----*/
.footer{
    padding: 4em 0;
    background-color: #bf1e2e;
}
.footer-grid{
    width: 33.33%;
    float: left;
}
.footer-grid h4{
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}
.footer-grid p{
    font-size: 16px;
    color: #fff;
}
.popular li{
    width: 65px;
    float: left;
    margin: 0 20px 20px 0;
}
.popular li:nth-child(4):after{
    clear: both;
    display: block;
    content: '';
}
.popular:after{
    content: '';
    clear: both;
    display: block;
}
.social li{
    float: left;
    margin-right: 10px;
}
.social li a{
    color: #ffffff;
    font-size: 25px;
}
.social li a:hover{
    color: #000;
    transition: 0.5s all ease-in;
}
/*.social li a{
    text-indent: -999px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/social.png);
    background-position: 0 -2px;
}*/
.social:after{
    content: '';
    display: block;
    clear: both;
}
.form-group input{
    padding: 10px;
    width: 80%;
}
.copyright{
    padding: 3em 0;
    background-color: #000;
    position: relative;
}
.copyright p{
    font-size: 16px;
    text-align: center;
    margin: 0;
    color: #fff;
}
.copyright a{
    color: #bf1e2e;
}
.top img{
    width: 40px;
    display: block;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 40px;
}
/*.copyright:before{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    left: 46%;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
}
/*----Footer-----*/

/*-----Menu-------*/
.blogShort{ border-bottom:1px solid #ddd;}
.add{background: #333; padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #0b56a8; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #E50000;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.nav-sidebar{
    background-color: #bf1e2e;
    min-height: 970px;
}
.tabs li a{
    color: #fff;
    text-transform: uppercase;
    padding: 1em;
    position: relative;
}
.tabs li.active a,.tabs li a:hover{
    background-color: transparent;
    color: #fde30d;
    transition: 0.5s all ease;
}
.tabs li.active a:after{
    content: '';
    position: absolute;
    right: -20px;
    top: 0;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #bf1e2e; 
}
.tabs li.active a:hover{
    background-color: transparent;
}
.tab-content{
    padding: 0 0 3em 1em;
}

/*--------Reviews----------*/
.review-list{
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 2em;
}
.review-list .image-holder{
    width: 10%;
    float: left;
    box-sizing: border-box;
    min-height: 120px
}
.review-list .image-holder span{
    font-size: 40px;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 40px;
    width: 100%;
    text-align: center;
}
.review-list .text-holder{
    width: 70%;
    float: left;
    padding-left: 1em;
    box-sizing: border-box;
    min-height: 120px
}
.review-list .text-holder h3{
    color: #bf1e2e;
    margin-top: 0;
}
.review-list .stars{
    width: 20%;
    float: left;
    box-sizing: border-box;
    min-height: 120px
}
.rating { 
  border: none;
  float: right;
  background-color: #333;
    padding: 5px 15px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #fde30d; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.review-list:after{
    content: '';
    display: block;
    clear: both;
}
.rate{
    display: block;
    float: right;
}
.rate p{
    color: #333;
    padding-top: 1em;
}


/*--Reviews-*/
.reviews{
    background-color: #333;
    padding: 80px 0;
    color: #fff;
}
.testimonial{
    position: relative;
}
.reviews .testimonial-chef{
    position: absolute;
    top: -130px;
}



/*------Add to cart--------*/
/*------Scroll Bar Design-------*/

.item-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.item-list::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.item-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*------Scroll Bar Design-------*/
.item-list-left{
    box-sizing: border-box;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}
.cart{
    width: 39%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
.cart{
    padding-left: 20px;
}
.cart h4{
    text-transform: uppercase;
}
.cart table{
    border: 1px solid #ddd;
}
.cart table button,
.cart table .btn{
    border-radius: 0;
}
.cart table .btn-danger{
    background-color: #bf1e2e;
}
.cart table .media-heading{
    margin-bottom: 10px;
    text-transform: capitalize;
}
.cart table .media-heading a{
    color: #bf1e2e;
}
.add-btn{
    color: #fff;
    background-color: #bf1e2e;
    padding: 5px 10px 5px 5px;
    transition: 0.5s all ease;
}
.add-btn:hover{
    background-color: #333;
    color: #fff;

}
.add-btn::before{
    content: '\f067';
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.add-btn:hover::before{
    transform: rotate(360deg);
}
.item-list{
    margin: 0;
    padding-right: 20px;
    height: 450px;
    overflow-y: scroll;
}
.item-list li{
    display: table;
    list-style: none;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #ddd;
}
.item-list .item-image{
    display: table-cell;
    width: 10%;
    vertical-align: middle;
    padding: 0;
    background-color: #fff;
}
.item-list .item-description{
    display: table-cell;
    width: 90%;
    vertical-align: top;
    padding: 10px 10px 10px 20px;
}
.item-list .item-description h3{
    font-family: 'JosefinSans-Bold', sans-serif;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 18px;
    text-transform: capitalize;
}














/*------------Responsive Design------------------*/
@media screen and (max-width:991px){
    .product-item li{
        width: 48%;
        margin-right: 1%;
    }
    .product-item li:nth-child(1){
        padding-right: 0;
    }
    .product-item li:nth-child(3){
        padding-left: 0;
    }
    .product-item li:nth-child(2){
        padding-right: 0;
        padding: 0 0;
    }
    .footer-grid{
        width: 50%;
    }
    .footer-grid:nth-child(3){
        width: 100%;
    }
    .review-list .image-holder{
        width: 20%;
    }
    .review-list .text-holder{
        width: 80%;
        margin-bottom: 2em
    }
    .review-list .stars{
        width: 100%;
        min-height: 50px;
    }
    .rating{
        float: left
    }
    .reviews .testimonial-chef{
        display: none;
    }
}
@media screen and (max-width:948px){
    .banner{
        height: auto;
        overflow: hidden;
    }
    .bannertext{
        width: 100%;
        padding: 150px 100px
    }
}
@media screen and (max-width:767px){
    .navbar-inverse .navbar-toggle{
        border: none;
    }
    .navbar-toggle{
        border-radius: 0;
        background-color: #bf1e2e;
        width: 40px;
        height: 40px;
        position: relative;
    }
    /*.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
        background-color: #bf1e29;
        position: relative;
    }
    .navbar-toggle .icon-bar+.icon-bar{
        margin: 0;
    }
    .navbar-toggle .icon-bar{
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        transition:0.5s all ease;
    }
    .navbar-toggle .icon-bar:first-child{
        top: 12px
    }
    .navbar-toggle .icon-bar:last-child{
        top: 28px;
    }

    .navbar-toggle.collapsed .icon-bar:first-child{
        top:0;
        transform:rotate(45deg);
    }
    .navbar-toggle.collapsed .icon-bar:nth-child(2){
        display: none
    }
    .navbar-toggle.collapsed .icon-bar:last-child{
        top:0;
        transform:rotate(135deg);
    }*/
}
@media screen and (max-width:640px){
    .item-list-left{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .cart{
        width: 100%;
        display: block;
        padding-left: 0;
    }
}
@media screen and (max-width:608px){
    .product-item li{
        width: 100%;
        margin-right: 0;
    }
}
@media screen and (max-width:550px){
    .footer-grid{
        width: 100%;
    }
    .review-list .image-holder{
        width: 25%;
    }
    .review-list .text-holder{
        width: 75%;
        margin-bottom: 2em
    }
}
@media screen and (max-width:450px){
    .bannertext{
        padding: 150px 0;
    }
}
@media screen and (max-width:380px){
    .review-list .image-holder{
        width: 100%;
    }
    .review-list .text-holder{
        width: 100%;
        margin-bottom: 2em
    }
}